@charset "UTF-8";
@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Light';
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Medium';
  src: url("../fonts/SFUIText-Medium.eot");
  src: url("../fonts/SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Bold';
  src: url("../fonts/SFUIText-Bold.eot");
  src: url("../fonts/SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff") format("woff"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Semibold';
  src: url("../fonts/SFUIText-Semibold.eot");
  src: url("../fonts/SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Semibold.woff") format("woff"), url("../fonts/SFUIText-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: white;
  background-position: top center;
  /* Положение фона */
  background-repeat: no-repeat;
  /* Отменяем повторение фона */
  width: 100%;
  height: 100%;
}

body:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/ref_desctop.jpg);
  background-position: top center;
  /* Положение фона */
  background-repeat: no-repeat;
  /* Отменяем повторение фона */
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

@media (max-width: 764px) {
  body:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/ref_plansh.jpg);
    background-position: top right;
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
  }
}

@media (max-width: 320px) {
  body:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/ref_mobile.jpg);
    background-position: top center;
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
  }
}

header {
  position: relative;
  margin: 0 auto;
  min-width: 1366px;
  width: 1366px;
  min-height: 786px;
  background-image: url("../img/MainScreenBg.png");
  background-size: cover;
  content: '';
  overflow: auto;
  content: "";
}

header::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 206px;
  background-image: url("../img/navigation1.png");
  right: 38px;
  top: 240px;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.page-nav {
  content: "";
}

.main-nav-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 102px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav__page-logo {
  margin-right: 490px;
}

.page-nav_button-open-Menu {
  padding: 0 0;
  margin: 0 0;
  border: none;
  background-image: url(../img/buttonOpenImage.png);
  background-color: transparent;
  width: 23px;
  height: 16px;
}

.page-nav_telephone {
  font-family: 'San Francisco Text Bold';
  font-size: 14.0px;
  font-weight: bold;
  margin-left: auto;
}

.page-nav__main-menu-list {
  content: "";
  position: absolute;
  top: -30px;
  margin: 0;
  padding: 0;
  padding-top: 170px;
  padding-left: 420px;
  min-width: 1366px;
  min-height: 786px;
  color: white;
  font-size: 48px;
  letter-spacing: 2.6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  background-color: #91aa59;
}

.menu-item {
  padding: 0;
  margin: 0;
  padding-bottom: 45px;
  list-style-type: none;
}

.page-nav_button-close-Menu {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  background-image: url(/img/buttonCloseImage.png);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  margin-top: 85px;
  margin-left: 100px;
}

.discription__discription-header {
  font-family: 'Roboto Light';
  font-size: 58.5px;
  line-height: 1.241;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  margin-bottom: 0;
  width: 300px;
}

.discription__text {
  padding: 0 0;
  margin-top: 14px;
  font-family: 'San Francisco Text Light';
  font-size: 17.57px;
  line-height: 1.705;
}

.discription__schedule-link {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-left: 45px;
  padding-right: 35px;
  margin-top: 45px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  width: 250px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
}

.discription__schedule-link::after {
  position: absolute;
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 21px;
  margin-left: 9px;
  background-image: url("../img/buttonArrow.png");
  background-repeat: no-repeat;
  width: 72px;
  height: 12px;
}

@media (max-width: 764px) {
  header {
    position: relative;
    margin: auto;
    min-width: 764x;
    width: 764x;
    min-height: 679px;
    background-image: url("../img/MainScreenBg_Plansh.png.jpg");
  }
  .page-nav__main-menu-list {
    content: "";
    position: absolute;
    top: -30px;
    margin: 0;
    padding: 0;
    padding-top: 170px;
    padding-left: 420px;
    min-width: 764x;
    min-height: 679px;
    color: white;
    font-size: 48px;
    letter-spacing: 2.6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 10;
    background-color: #91aa59;
  }
}
/*# sourceMappingURL=style.css.map */