header
{
    // background-color: green;
    margin: auto;
    min-width: 1366px;
    max-width: 1366px;
    min-height: 786px;
    //position: relative;
    
    //border: 1px solid red;
    //outline: 1px solid red; /* Параметры рамки */
}
.page-nav
{
    content: "";    
    //position: relative;
    //border: 1px solid transparent;
    
    
}

.main-nav-list-wrapper
{
    display: flex;
    
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 102px;

    
    
    align-items: center;
    
}

.page-nav__page-logo
{
    margin-right: 490px;
}
.page-nav_button-open-Menu
{
    padding: 0 0;
    margin: 0 0;
    border: none;
    background-image: url(../img/buttonOpenImage.png);
    background-color: transparent;
    width: 23px;
    height: 16px;
    
}
.page-nav_telephone
{
    
    font-size: 14.3px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 21px;
    margin-left: auto;
    
}

.page-nav__main-menu-list
{
    content: "";
    
    position: absolute;
    top: 0px;
    margin: 0;
    padding:0;

    padding-top: 170px;
    padding-left: 420px;

    min-width: 1366px;
    min-height: 786px;
    color: white;
    font-size: 48px;
    //opacity: .5;

    letter-spacing: 2.6px;
    //line-height: 21px;

    box-sizing: border-box;


    background-color: #91aa59;
}
.menu-item
{
    padding: 0;
    margin: 0;
    padding-bottom: 45px;
    list-style-type: none;
    
}
.page-nav_button-close-Menu
{
    display: block;
    position: absolute;
    top:50px;
    right: 50px;
    background-image: url(/img/buttonCloseImage.png);
    width: 40px;
    height: 40px;
    background-color: transparent;
    
    border: none;
}

//discription
.discription
{
    color: #ffffff;
    margin-top:170px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    // line-height: 71px;
    
}
.discription__discription-header
{
    //font-family: 'Roboto Light';

}
.discription__schedule-link
{
    box-sizing: border-box;

    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 51px;

    width: 244px;

    border: 2px solid #ffffff;
    border-radius: 50px;

    text-decoration: none;
    color: #ffffff;
}
.discription__schedule-link::after
{
    position: absolute;
    content: "";
    align-items: center;
    

    margin-left:11px;

    background-image: url('../img/buttonArrow.png');
    background-repeat: no-repeat;
    width: 72px;
    height: 12px;

    //border: 1px solid red;
}

