header
{
    
    position: relative;
    margin: 0 auto;
    min-width: 1366px;
    width: 1366px;
    min-height: 786px;
    background-image: url('../img/MainScreenBg.png');
    //color:#fff; 
    //text-align:center; 
    background-size:cover;
    content: '';
    overflow: auto;
    //display: inline-block;
    //position: relative;
    
    content: "";    
    //border: 1px solid red;
    //outline: 1px solid red; /* Параметры рамки */
    &::after
    {
        content: "";
        position: absolute;
        
        width: 16px;
        height: 206px;
        
        background-image: url('../img/navigation1.png');
        right: 38px;
        top: 240px;
        padding: 0px;
        margin: 0px;

        overflow: auto;
    }
}

.page-nav
{
    content: "";    
    //position: relative;
    //border: 1px solid transparent;
    
    
}

.main-nav-list-wrapper
{
    display: flex;
    
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 102px;

    
    
    align-items: center;
    
}

.page-nav__page-logo
{
    margin-right: 490px;
}
.page-nav_button-open-Menu
{
    padding: 0 0;
    margin: 0 0;
    border: none;
    background-image: url(../img/buttonOpenImage.png);
    background-color: transparent;
    width: 23px;
    height: 16px;
    
}
.page-nav_telephone
{
    font-family: 'San Francisco Text Bold';
    font-size: 14.0px;
    font-weight: bold;
    // letter-spacing: 0px;
    
    margin-left: auto;
}

.page-nav__main-menu-list
{
    content: "";
    
    position: absolute;
    top: -30px;
    margin: 0;
    padding:0;

    padding-top: 170px;
    padding-left: 420px;

    min-width: 1366px;
    min-height: 786px;
    color: white;
    font-size: 48px;
    //opacity: .5;

    letter-spacing: 2.6px;
    //line-height: 21px;

    box-sizing: border-box;

    z-index: 10;
    background-color: #91aa59;
}
.menu-item
{
    padding: 0;
    margin: 0;
    padding-bottom: 45px;
    list-style-type: none;
    
}
.page-nav_button-close-Menu
{
    display: block;
    position: absolute;
    top:50px;
    right: 50px;
    background-image: url(/img/buttonCloseImage.png);
    width: 40px;
    height: 40px;
    background-color: transparent;
    
    border: none;
}

//discription
.discription
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    color: #ffffff;
    
    margin-top:85px;
    margin-left: 100px;
    
    //border: 1px solid red;
    

    //font-size: 12px;
    // line-height: 71px;
    
}
.discription__discription-header
{
    font-family: 'Roboto Light';
    font-size: 58.5px;
    line-height: 1.241;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;

    margin-bottom: 0;

    width: 300px;
    //border: 1px solid red;

}
.discription__text
{
    //border: 1px solid blue;
    padding: 0 0;
    margin-top:14px;
    
    font-family: 'San Francisco Text Light';
    font-size: 17.57px;
    line-height: 1.705;

}
.discription__schedule-link
{
    position: relative;
    box-sizing: border-box;

    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 45px;
    padding-right: 35px;
    margin-top: 45px;

    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1.5px;

    width: 250px;

    border: 2px solid #ffffff;
    border-radius: 50px;

    text-decoration: none;
    color: #ffffff;

    &::after
    {
        position: absolute;
        content: "";
        align-items: center;
        top:21px;
    
        margin-left:9px;
    
        background-image: url('../img/buttonArrow.png');
        background-repeat: no-repeat;
        width: 72px;
        height: 12px;
        
    
        //border: 1px solid red;
    }
}

@media (max-width: 764px) {
    
    header
    {
        position: relative;
        margin: auto;
        min-width: 764x;
        width: 764x;
        min-height: 679px;
        //border: 1px solid red;
        background-image: url('../img/MainScreenBg_Plansh.png.jpg');
    }


    .page-nav__main-menu-list
    {
        content: "";
        
        position: absolute;
        top: -30px;
        margin: 0;
        padding:0;

        padding-top: 170px;
        padding-left: 420px;

        min-width: 764x;
        min-height: 679px;
        color: white;
        font-size: 48px;
        //opacity: .5;

        letter-spacing: 2.6px;
        //line-height: 21px;

        box-sizing: border-box;

        z-index: 10;
        background-color: #91aa59;
}
    
}


