@import "__fonts.scss";

html { width:100vw; overflow-x:hidden; }


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
    overflow: hidden;
    // border: 5px solid red;
}


body
{
    background-color: white;
    
    background-position: top center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    width: 100%;
    height: 100%;
}
// body:after {
//     content : "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-image: url(../img/ref_desctop.jpg);
//     background-position: top center; /* Положение фона */
//     background-repeat: no-repeat; /* Отменяем повторение фона */
//     width: 100%;
//     height: 100%;
//     opacity : 0.2;
//     z-index: -1;
// }


@media screen and (min-width:764px) and (max-width:1365px) {
    body
    {
        background-color: white;
        //background-image: url('../img/MainScreenBg_Plansh.png.jpg');
        background-position: top right; /* Положение фона */
        background-repeat: no-repeat; /* Отменяем повторение фона */
        width: 100%;
        //height: 100%;
    }

    // body:after {
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-image: url(../img/ref_plansh.jpg);
    //     background-position: top right; /* Положение фона */
    //     background-repeat: no-repeat; /* Отменяем повторение фона */
    //     width: 100%;
    //     height: 100%;
    //     opacity : 0.2;
    //     z-index: 10;
    // }
}

// @media (max-width: 764px) {
    
    
// }

@media (min-width: 0px) and (max-width:763px) {
    
    // body:after {
    //     content : "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-image: url(../img/ref_mobileMenu.jpg);
    //     background-position: top center; /* Положение фона */
    //     background-repeat: no-repeat; /* Отменяем повторение фона */
    //     width: 320px;
    //     height: 100%;
    //     min-height: 700px;
    //     opacity : 0.2;
    //     z-index: 10;
    // }
}






@import "_header.scss";



